*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.main-reg{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    min-height: 100vh;
    padding: 50px;
    background-color: #D2C5C5;
    gap: 40px;
}
.bck a{
    color: black;
    position: relative;
    top: 30px;
    left: 80px;
}
.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    font-size: 30px;
    font-weight: bolder;
    
}
.email{
    width: 400px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
    outline: none;
}
.otp{
    width: 400px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
    outline: none;
}
button{
    padding: 10px 20px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    width: 200px;
    display: flex;
    align-items: self-end;
}
.emaillab{
    display: flex;
    flex-direction: column;
    gap: 5px;
    outline: none;
}
.otplab{
    display: flex;
    flex-direction: column;
    gap: 5px;
    outline: none;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 20px;
}