*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.main-index{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    gap: 50px;
}
.back{
    position: relative;
    right: 250px;
    display: inline-block;
    margin: 0.25em;
    border: 1px solid silver;
    top: 50px;
    border-radius: 0.25em;
    padding: .25em 0.5em;
    cursor: pointer;
}
.logo{
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.logo p{
    font-weight: bolder;
    font-size: 18px;
    font-family: Arial, sans-serif;
}
.main-div{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    gap: 100px;
    padding-bottom: 60px;
}
.alltbl {
    display: block; 
    max-width: 100%;
    overflow-x: auto;
    border-spacing: 5px;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    padding-bottom: 30px;
}
.alltbl table {
    width: 100%;
    border-collapse: collapse;
}
.alltbl th {
    background-color: #39693b;
    color: white;
    padding: 10px;
    text-align: left;
    border-radius: 5px;
    position: sticky;
    top: 0; 
    z-index: 1; 
    white-space: nowrap;
}
.alltbl td {
    background-color: white;
    padding: 10px 30px;
    border-radius: 5px; 
    text-align: left; 
    white-space: nowrap;
}

.alltbl tr:hover {
    cursor: pointer; 
}

.alltbl th, .alltbl td {
    border: 1px solid #ddd;
    border-radius: 5px; 
}
.rp{
    color: rgb(214, 116, 116);
}

.allbt{
    display: flex;
    align-items: center;
    align-self: self-end;
}
.bt1{
    border: none;
    background-color: black;
    padding: 8px 30px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.alltbl::-webkit-scrollbar {
    height: 5px; 
}

.alltbl::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}
.rcp{
    border: none;
    background-color: transparent;
    color: rgb(214, 116, 116);
}
