* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
}

.all {
  position: relative;
  width: 90%;
  max-width: 1200px;
  height: auto;
  min-height: 90vh;
  background-color: #d2c5c5;
  border: 3px solid black;
  border-radius: 7px;
  padding: 60px 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
}

.back-button a img {
  width: 38px;
  height: auto;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.but {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

button {
  border: 3px solid black;
  width: 200px;
  padding: 20px;
  border-radius: 7px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
  background-color: #f5bebe;
  transition: transform 0.1s ease, background-color 0.1s ease-in-out;
}
