*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #333;
}
.main-index{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 50px;
}
.logo{
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.bck a{
    position: relative;
    top: 100px;
    left: 80px;
}
.logo p{
    font-weight: bolder;
    font-size: 18px;
    font-family: Arial, sans-serif;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.namelab{
    display: flex;
    align-items: center;
    gap: 50px;

}
.top{
    font-size: 30px;
    font-weight: bolder;
}
.hd{
    font-size: 18px;
    font-weight: bolder;
}
.inp{
    background-color: transparent;
    border: 1.5px solid black;
    padding: 10px ;
    border-radius: 5px;
    outline: none;
    text-align: center;
    width: 20vw;
}
.btn{
    background-color: #CF7373;
    border: none;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 18px;
    color: black;
}
.main-div{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
    padding-bottom: 100px;
}
.allbt{
    display: flex;
    align-items: center;
    gap: 40px;
}
.bt1{
    border: none;
    background-color: black;
    padding: 8px 30px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.bt2{
    border: none;
    background-color: #CF7373;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 13px;
    color: white;
    font-weight: bold;
}
.alltb {
    display: block; 
    max-width: 100%;
    overflow-x: auto;
    border-spacing: 5px;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    padding-bottom: 50px;
}
.alltb table {
    width: 100%;
    border-collapse: collapse;
}
.alltb th {
    background-color: #39693b;
    color: white;
    padding: 10px;
    text-align: left;
    border-radius: 5px;
    position: sticky;
    top: 0; 
    z-index: 1; 
    white-space: nowrap;
}
.alltb td {
    background-color: white;
    padding: 10px 50px;
    border-radius: 5px; 
    text-align: left; 
    white-space: nowrap;
}

.alltb tr:hover {
    cursor: pointer; 
}

.alltb th, .alltb td {
    border: 1px solid #ddd;
    border-radius: 5px; 
}

.alltb::-webkit-scrollbar {
    height: 5px; 
}

.alltb::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}