*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.email{
    width: 400px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
}
.password{
    width: 400px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
}
button{
    padding: 10px 40px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}
.hot{
    display: flex;
    align-items: center;
    gap: 20px;
}
.fat{
    display: flex;
    align-items: center;
    gap: 50px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 20px;
}
.all{
     position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 0px;
}
img{
    width: 90px;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
}

.back-button img {
  width: 38px;
  height: auto;
  cursor: pointer;
}