*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #333;
}
.main-index{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.logo{
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.logo p{
    font-weight: bolder;
    font-size: 18px;
    font-family: Arial, sans-serif;
}
.main-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
}
.allbt{
    display: flex;
    align-items: center;
    gap: 60px;
}
.bt1{
    border: none;
    background-color: black;
    padding: 8px 30px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.bt2{
    border: 2px solid black;
    background-color: transparent;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
}

.alltb {
    display: block; /* Make the table block-level for scrolling */
    max-width: 100%; /* Ensure it doesn't overflow the viewport */
    overflow-x: auto; /* Horizontal scroll */
    border-spacing: 5px;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.alltb table {
    width: 100%; /* Ensure the table takes up the full container width */
    border-collapse: collapse; /* Remove unnecessary space between cells */
}

.alltb th {
    background-color: #39693b;
    color: white;
    padding: 10px;
    text-align: left;
    border-radius: 5px;
    position: sticky;
    top: 0; /* Make the header sticky at the top */
    z-index: 1; /* Ensure it stays on top when scrolling */
}

.alltb td {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
}


.alltb tr:hover {
    cursor: pointer; 
}

.alltb th, .alltb td {
    border: 1px solid #ddd;
    border-radius: 5px; 
}